/* Define the keyframes for the fade-out animation */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeInd {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.01;
  }
}
/* Apply the animation to an element */
.fade-in {
  animation: fadeIn 4s forwards;
}
.fade-ind  {
  animation: fadeInd 5s forwards;
}
/* Define the keyframes for the slide-in animation */
@keyframes slideIn {
  from {
    transform: translateX(-100%);
    opacity: 0.99;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slideTop {
  from {
    transform: translateY(300%);
    opacity: 0.999;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slideLef {
  from {
    transform: translateX(400%);
    opacity: 0.999;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slideBot {
  from {
    transform: translateY(-5000%);
    opacity: 0.999;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

/* Apply the animation to an element */
.slide-r {
  animation: slideIn 3s 0.4s forwards;
}
.slide-l {
  animation: slideLef 3s 0.8s forwards;
}
.slide-t {
  animation: slideTop 3s 3s forwards;
}
.slide-b {
  animation: slideBot 3s 3.5s forwards;
}

/* Include the animations defined above */


/* Define the keyframes for the bounce animation */
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}

/* Apply the animation to an element */
.bounce {
  animation: bounce 2s infinite;
}

/* Define the keyframes for the rotate animation */
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Apply the animation to an element */
.rotate {
  animation: rotate 2s linear infinite;
}

/* Define the keyframes for the pulse animation */
@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

/* Apply the animation to an element */
.pulse {
  animation-name: pulse;
  animation-duration: 1s;
  animation-delay: 10s;
  animation-iteration-count: infinite;
}


/* Include the animations defined above */
.bounce {
  animation: bounce 2s infinite;
}

.rotate {
  animation: rotate 2s linear infinite;
}

.pulse {
  animation: pulse 1s infinite;
}


/* dla latającego*/
.lata {
            width: 200px;
            height: auto;
            /*background-image: url('krzyska.gif');*/
            background-color: red;
            /*position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
             width: 50px; Adjust size as needed
    animation: rotate 1.5s linear infinite;*/
        }
  /* w body
  <div class="object" id="object"></div> */
  
  
  /*latające zdjęcie albo GIF*/
  /*body {
    margin: 0;
    overflow: hidden;
}*/

#bouncingImage {
    position: absolute;
    width: 50px; /* Adjust size as needed */
    animation: rotate 1.5s linear infinite; /* Add rotation animation */
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
